* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    -webkit-text-fill-color: black;
}

.navbar {
    display: flex;
    padding-bottom: 0;
    height: 100px;
    width: 1441px;
    align-items: center;
    justify-content: center;
}

.nav-menu {
    display: flex;
    margin-right: 30px;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
}

li {
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
}

.logo-img {
    width: 30%;
    height: 50%;
}