.popupBox {
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    width: 1441px;
}

.FiX {
   margin-left: 200px;
}